<h2>King Balon Greyjoy</h2>
<div class="row">
  <img class="kingImage col-lg-offset-3 col-lg-6" src="assets/balon.jpg" />
</div>
<div class="row">
  <div class="col-lg-offset-2 col-lg-8 description">
    <p>Balon Greyjoy is the ruler of the Iron Islands, a harsh, barren group of islands.</p>
    <p>The people of the Iron Islands have a reputation of raiding, and taking what they want by force.</p>
    <p>Balon is taking advantage of the chaos in the realm, launching raids against the undefended North.</p>
  </div>
</div>
