body {
  background: url('../assets/background.jpg') no-repeat 50% 50% fixed;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
}

h1, h2, h4 {
  text-align: center;
  padding: 30px;
}

h1, h4 {
  color: white;
}

h1 {
  font-size: 72px;
}

h2 {
  font-weight: bolder;
}

a {
  width: 19%;
}

header {
  background-color: black;
  height: 200px;
  border-radius: 15px;
}

footer {
  background-color: black;
  height: 100px;
  border-radius: 15px;
}

.description {
  background-color: maroon;
  padding: 15px;
  border-radius: 15px;
  margin-top: 15px;
}

p {
  color: white;
  text-align: center;
  font-size: 16px;
}
